In [ ]:
Panda.series.string method?

str.lower()

import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
print(df)

# convert lowercase column use str.lower()
df['Courses'] = df['Courses'].str.lower()
print(df)

# convert lowercase column use apply()
df['Courses'] = df['Courses'].apply(str.lower)
print(df)

# Use apply() & lambda function
df['Courses'].apply(lambda x: x.lower())
print(df)

# Convert pandas column to lowercase use map()
df['Courses'] = df['Courses'].map(str.lower)
print(df)

====================================
str.upper()
======================================
str.length()

import pandas as pd

data = pd.DataFrame({

    'age' : [15, 17, 20, 14, 25],

    'name': ["Sample", "New User", "My Name", "Jane Doe", "John Doe"]

})

data['name'].str.len()

You'll get the following output:

0    6

1    8

2    7

3    8

4    8

Name: name, dtype: int64
========================================
str.strip()

import numpy as np
import pandas as pd
s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])
s.str.strip()

str.lstrp()

str.rstrp()
============================================
str.split()

import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s.str.split()		

==============================================

str.contains()
======================================

str.replace()
====================================
str.startswith()
====================================
str.endswith()
======================================
str.cat()
===================================
str.get()
==================================
str.slice()
===============================
str.find()
===============================

# String upper ()

In [3]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
df['Courses'] = df['Courses'].str.upper()
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

# String len ()

In [4]:
import pandas as pd

data = pd.DataFrame({

    'age' : [15, 17, 20, 14, 25],

    'name': ["Sample", "New User", "My Name", "Jane Doe", "John Doe"]

})

data['name'].str.len()

0    6
1    8
2    7
3    8
4    8
Name: name, dtype: int64

# String lower()

In [5]:
df['Courses'] = df['Courses'].str.lower()
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

# lambda function

In [6]:
# Use apply() & lambda function
df['Courses'].apply(lambda x: x.lower())
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

# Convert pandas column to lowercase use map()

In [7]:
# Convert pandas column to lowercase use map()
df['Courses'] = df['Courses'].map(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

# str.strip ()

In [9]:
import numpy as np
import pandas as pd
s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])
s.str.strip()

0    1. Bat.
1    2. Dog!
2    3. fox?
3        NaN
dtype: object

# str.lstrip()

In [12]:
s.str.lstrip()

0    1. Bat.
1    2. Dog!\n
2    3. fox?\t
3          NaN
dtype: object

# str.split ()

In [13]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s.str.split()

0                         [this, is, my, new, pen]
1    [https://www.w3resource.com/pandas/index.php]
2                                              NaN
dtype: object

# str.rstrp()

In [14]:
s.str.rstrip()

0                             this is my new pen
1    https://www.w3resource.com/pandas/index.php
2                                            NaN
dtype: object

# str.contains()

In [18]:
s.str.contains('e')

0    True
1    True
2     NaN
dtype: object

# str.replace()

In [20]:
s.str.replace('.','?')

C:\Users\thirz\AppData\Local\Temp\ipykernel_5804\2070102435.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  s.str.replace('.','?')

0                             this is my new pen
1    https://www?w3resource?com/pandas/index?php
2                                            NaN
dtype: object

# str.startswith()

In [22]:
s.str.startswith('t')

0     True
1    False
2      NaN
dtype: object

# str.endswith()

In [23]:
s.str.endswith('n')

0     True
1    False
2      NaN
dtype: object

# str.cat()

In [24]:
s.str.cat()

'this is my new penhttps://www.w3resource.com/pandas/index.php'

# str.get()

In [34]:
s.str.get('3')

0   NaN
1   NaN
2   NaN
dtype: float64

# str.slice ()

In [35]:
s.str.slice()

0                             this is my new pen
1    https://www.w3resource.com/pandas/index.php
2                                            NaN
dtype: object

# str.find()

In [38]:
s.str.find('e')

0    12.0
1    15.0
2     NaN
dtype: float64